
[package]
authors = ["LongYinan <lynweklm@gmail.com>"]
edition = "2021"
name = "parser"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = "3.0.0"
napi-derive = "3.0.0"
phf = { version = "0.13.1", features = ["macros"] }
quick-xml = "0.38.4"

[build-dependencies]
napi-build = "2"

[profile.release]
lto = true
strip = "symbols"
